<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Здесь должны находиться объявления компонентов -->

	<bean id = "duke" class="com.vdprog.spring.Juggler"/>
	<bean id = "duke15" class="com.vdprog.spring.Juggler" scope="prototype">
		<constructor-arg value="15"/>
	</bean>
	
	<bean id="sonnet29" class="com.vdprog.spring.Sonnet29"/>
	
	<bean id="poeticduke" class="com.vdprog.spring.PoeticJuggler">
		<constructor-arg value="15"/>
		<constructor-arg ref="sonnet29"/>
	</bean>
	
	
</beans>